
---
- name: add web tom user
  template:
    src: templates/mytomuserconfig.j2
    dest: /opt/tomcat/conf/tomcat-users.xml 


- name: copy tomcat context file into nodes
  template:
    src: templates/mytomcontext.j2
    dest: /opt/tomcat/webapps/manager/META-INF/context.xml

- name: copy tomat host-manage context file into nodes
  template:
    src: templates/mytomhostcontext.j2
    dest: /opt/tomcat/webapps/host-manager/META-INF/context.xm